.cursorText {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: #fff;
    margin-left: 5px;
    border-radius: 1px;
    animation: cursorText 1s infinite;
  }

  @keyframes cursorText {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }